@media screen and (max-width: 425px) {
    .grid {
        display: grid;
        grid-template-rows: minmax(10px,auto);
        grid-template-columns: repeat(3,1fr);
        grid-gap: .5rem;
    }
    /*Overall background*/
    body {
        background-color: black;
    }
    /*Logo attributes*/
    .App-logo {
        padding-left: 4em;
        padding-top: 2em;
        padding-bottom: 10px;
    }


    /*######  Welkom scherm elementen  ######*/
    .Titel {
        color: white;
        font-family: Cooper Hewitt;
        font-weight: 1000;
        font-size: 4.375em;
        line-height: 0.86;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* K van keytoe */
    .sub {
        font-family: Cooper Hewitt;
        font-size: 30px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: -20px;
    }
    /* Lange tekst */
    .InfoTekst {
        font-family: Cooper Hewitt;
        font-size: 35px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.37;
        letter-spacing: normal;
        color: #ffffff;
    }
    /* de kwizz */
    .Kop {
        font-family: Cooper Hewitt;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #ffffff;
    }
    .goBut {
        padding: 12px;
        padding-left: 0px;
        margin-bottom: 20px;
        background: transparent;
        border: none;
        color: white;
        border-bottom: 2px solid;
        font-size: 150%;
        cursor: pointer;
        letter-spacing: 4.7px;
    }
    .goButAdminPanel {
        color: white;
        font-family: Cooper Hewitt;
        font-weight: bold;
        padding-left: 0px;
        margin-bottom: 20px;
        margin-top: 10px;
        background: transparent;
        border: none;
        border-bottom: 2px solid;
        font-size: 120%;
        cursor: pointer;
    }
    .goInput {
        /*width: 100%;*/
        color: white;
        font-family: Cooper Hewitt;
        font-weight: normal;
        padding: 12px;
        padding-left: 0px;
        background: transparent;
        border: none;
        border-bottom: 2px solid;
        font-size: 150%;
        margin-bottom: 5%;
    }
    /*--------------------------Welkom Grid---------------*/
    .grid-logo {
        grid-column: 1/4;
        grid-row: span 1;
    }
    .grid-titel {
        grid-column: 1/4;
        grid-row: 2;
    }
    .grid-sub {
        grid-column: 1/4;
        grid-row: 3;
        display: flex;
        align-items: flex-end;
    }
    .grid-kop {
        display: none
    }
    .grid-info {
        grid-column: 1/4;
        grid-row: 5;
    }
    .grid-naamform {
        grid-column: 1/4;
        grid-row: 6;
    }
    /*######  Result scherm elementen  ######*/
    /* -----------------Result Grid--------------- */

    /*######  Admin  scherm elementen  ######*/
    .App-logo-admin {
        height: 150px;
        width: 150px;
        padding-left: 4em;
        padding-top: 2em;
        padding-bottom: 10px;
    }
    .editQuestions {
        color: black;
        font-size: 10em;
        font-family: Cooper Hewitt;
        font-weight: 1000;
        line-height: 0.86;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .adminInputs {
        font-family: Cooper Hewitt;
        font-size: 1em;
    }
    .positionInput {
        font-family: Cooper Hewitt;
        width: 80%;
        background: transparent;
        border: none;
        color: black;
        border-bottom: 2px solid;
        font-size: 150%;
    }
    .vraagInput {
        font-family: Cooper Hewitt;
        width: 80%;
        background: transparent;
        border: none;
        color: black;
        border-bottom: 2px solid;
        font-size: 150%;
    }
    .hintInput {
        font-family: Cooper Hewitt;
        width: 80%;
        background: transparent;
        border: none;
        color: black;
        border-bottom: 2px solid;
        font-size: 150%;
    }
    .answerInput {
        font-family: Cooper Hewitt;
        width: 80%;
        background: transparent;
        border: none;
        color: black;
        border-bottom: 2px solid;
        font-size: 150%;
    }
    /* text above add question form */
    .admin-add {
        font-family: Cooper Hewitt;
        font-size: 1em;
        font-weight: bold;
        line-height: 0.86;
    }
    /* admin-item = questions displayed in admin page */
    .admin-item {
        color: black;
        font-family: Cooper Hewitt;
        font-weight: normal;
        line-height: 0.86;
    }
    .goButHomepage {
        color: black;
        font-family: Cooper Hewitt;
        font-weight: bold;
        padding-left: 0px;
        margin-bottom: 20px;
        margin-top: 10px;
        background: transparent;
        border: none;
        border-bottom: 2px solid;
        font-size: 120%;
        cursor: pointer;
    }
        /*adminItem.js*/
    .adminPageQuestions {
        color: black;
        font-family: Cooper Hewitt;
        font-size: 1.5em;
        line-height: 0.86;
    }
    .goButAdmin {
        font-family: Cooper Hewitt;
        font-weight: bold;
        padding-left: 0px;
        margin-bottom: 20px;
        margin-top: 10px;
        background: transparent;
        border: none;
        color: black;
        border-bottom: 2px solid;
        font-size: 120%;
        cursor: pointer;
    }
        /*AdminAdd deel*/
    /* input field questions add */
    .goInputQuestions {
        font-family: Cooper Hewitt;
        background-color: grey;
        padding: 5px;
        width: 10%;
    }
    

    /* ---------------Admin Grid-------------- */

    /*######  Quiz scherm elementen  ######*/
    span.vraagWeg {
        display: none;
    }
    .goInputSmall {
        /*width: 100%;*/
        padding: 12px;
        padding-left: 0px;
        background: transparent;
        border: none;
        color: white;
        border-bottom: 2px solid;
        font-size: 150%;
        margin-bottom: 5%;
    }
    span.totalQuestions {
        font-weight: lighter;
        font-style: italic;
        font-size: 60%;
    }
    span.currentQuestion {
        font-style: italic;
    }
    span.leven {
        font-family: Cooper Hewitt;
        font-weight: bolder;
        color: white;
        font-size: 200%;
        float: right;
        padding-right: 5%;
    }
    span.score {
        font-family: Cooper Hewitt;
        color: white;
        font-size: 200%;
        font-weight: bolder;
        float: right;
        padding-right: 10%;
    }
    /* in AnswerOption.js voor error message icon*/
    .Cancel-logo {
        float: left;
        padding-top: 0.5%;
        padding-right: 1%;
    }
    span.error {
        color: white;
        font-size: 200%;
        font-weight: bold;
        float: left;
    }
    div.answerOption {
        color: white;
        background-color: black;
        padding-left: 5%;
        font-family: Cooper Hewitt;
    }
    /*Questions*/
    p.question {
        color: white;
        /*text-align: left;*/
        /*padding-left: 13%;*/
        font-size: 2em;
        font-family: Cooper Hewitt;
    }
    /*Hint */
    p.hint {
        font-family: Cooper Hewitt;
        color: white;
        /*text-align: left;*/
        /*padding-left: 13%;*/
        font-size: 2em;
        font-family: Cooper Hewitt;
    }

    /*Question counter*/
    div.questionCount {
        text-align: left;
        padding-left: 0%;
        padding-top: 5%;
        color: white;
        font-size: 2em;
        font-weight: bolder;
        font-family: Cooper Hewitt;
    }
    /*---------------Quiz Grid-------------------*/
    .grid-questionCount {
        grid-column: 3/4;
        grid-row: 1;
    }
    .grid-question {
        grid-column: 1/4;
        grid-row: 2;
        padding-left: 10px;
    }
    .grid-hint {
        grid-column: 1/4;
        grid-row: 3;
        padding-left: 10px;
    }
    .grid-answer {
        grid-column: 1/4;
        grid-row: 4;
    }
    .grid-leven {
        grid-column: 1;
        grid-row: 5;
        padding-left: 10px;
    }
    .grid-score {
        grid-column: 3;
        grid-row: 5;
        padding-right: 10px;
    }

    /*######  Ranglijst/Result scherm elementen  ######*/
    /*Result page text*/
    div.resultPage {
        color: white;
        font-size: 200%;
        font-family: Cooper Hewitt;
        padding-top: 10%;
        text-align: center;
    }
    /* Resultpage text + scoreboard */
    .gongText {
        color: white;
        font-family: Cooper Hewitt;
        font-weight: 1000;
        font-size: 8em;
        line-height: 0.86;
        margin-bottom: 0px;
    }

    .scoreRes {
        color: white;
        font-family: Cooper Hewitt;
        font-size: 500%;
        font-weight: bolder;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .resText {
        color: white;
        font-family: Cooper Hewitt;
        font-size: 200%;
        font-weight: bolder;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: 4.7px;
        letter-spacing: normal;
        margin-top: 0px;
    }
    .klaarText {
        color: white;
        font-family: Cooper Hewitt;
        font-size: 250%;
        font-weight: normal;
    }

    .resButton {
        font-family: Cooper Hewitt;
        padding: 12px;
        padding-left: 0px;
        background: transparent;
        border: none;
        color: white;
        font-size: 150%;
        font-weight: bold;
        cursor: pointer;
        letter-spacing: 4.7px;
        padding-left: 30px;
        text-decoration: underline;
        text-underline-position: below;
    }

    div.scoreBoard {
        color: white;
        font-size: 200%;
        font-family: Cooper Hewitt;
        padding-top: 10%;
        text-align: center;
    }

    .scoreboardName{
        color: white;
        font-size: 900%;
        font-weight: bolder;
        font-family: Cooper Hewitt;
        text-align: left;
        padding-right: 2%;
    }
    #scoreBoard td {
        color: white;
        font-size: 200%;
        font-family: Cooper Hewitt;
        padding-top: 2%;
        padding-right: 20%;
        text-align: left;
        border-bottom: 1px solid white;
    }

    #scoreBoard tr.rowData {
        text-align: left;
        border-bottom: 1px solid white;
        padding-right: 20%
    }
    /* ------------------RANGLIJST Grid-------------- */

    /*######  NewPage scherm elementen  ######*/
    .gongText {
        font-size: 340%;
        padding-left:10px;
        padding-right:10px;
    }

    .klaarText {
        font-size: 120%;
        padding-left:30px;
        padding-right: 10px;
    }
    .balk{
        width:85%;
        color:white;
    }
    .scoreRes {
        font-size:300%;
        padding-left: 30px;
        margin-bottom:-15px;
    }
    .resText {
        font-size:75%;
        padding-left: 30px;
    }

    /* ------------------NewPage (mep op gong + score zien) Grid-------------- */
    .grid-resButton {
        grid-column: 1/4;
        grid-row: 5;
    }

    .grid-gongText {
        grid-column:1/4;
        grid-row:1;
    }

    .grid-klaarText {
        grid-column:1/4;
        grid-row:2;
    }

    .grid-scoreRes {
        grid-column:1/4;
        grid-row:3;
    }

    .grid-resText {
        grid-column:1/4;
        grid-row:4;
    }
    /*######  Panel (inlog voor admin) scherm elementen  ######*/
    .loginText {
        color: white;
        font-family: Cooper Hewitt;
        font-size: 8em;
        font-weight: bold;
        line-height: 0.86;
    }
    .usernameInput {
        font-family: Cooper Hewitt;
        padding: 12px;
        padding-left: 0px;
        margin-bottom: 20px;
        background: transparent;
        border: none;
        color: white;
        border-bottom: 2px solid;
        font-size: 150%;
        cursor: auto;
    }
    .passwordInput {
        font-family: Cooper Hewitt;
        padding: 12px;
        padding-left: 0px;
        margin-bottom: 20px;
        background: transparent;
        border: none;
        color: white;
        border-bottom: 2px solid;
        font-size: 150%;
        cursor: auto;
    }
    /* ------------------Panel (inlog voor admin) Grid-------------- */

    /*-----------Overig-------------*/
    /* placeholder text styling */
    ::placeholder {
        font-family: Cooper Hewitt;
        color: white;
        font-weight: normal;
    }
}

    /*Smart Phone*/
@media screen and (min-width: 425px) {
    .grid {
        display: grid;
        grid-template-rows: minmax(10px,auto);
        grid-template-columns: repeat(3,1fr);
        grid-gap: .5rem;
    }
    /*######  Welkom scherm elementen  ######*/
    .goButAdminPanel {
        color: white;
        font-family: Cooper Hewitt;
        font-weight: bold;
        padding-left: 0px;
        margin-bottom: 20px;
        margin-top: 10px;
        background: transparent;
        border: none;
        border-bottom: 2px solid;
        font-size: 120%;
        cursor: pointer;
    }

    .goBut {
        padding: 12px;
        padding-left: 0px;
        margin-bottom: 20px;
        background: transparent;
        border: none;
        color: white;
        border-bottom: 2px solid;
        font-size: 150%;
        cursor: pointer;
        letter-spacing: 4.7px;
    }
    .Titel {
        color: white;
        font-family: Cooper Hewitt;
        font-weight: 1000;
        font-size: 4.375em;
        line-height: 0.86;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* input field for name */
    .goInput {
        /*width: 100%;*/
        color: white;
        font-family: Cooper Hewitt;
        font-weight: normal;
        padding: 12px;
        padding-left: 0px;
        background: transparent;
        border: none;
        border-bottom: 2px solid;
        font-size: 150%;
        margin-bottom: 5%;
    }

    /* K van keytoe */
    .sub {
        font-family: Cooper Hewitt;
        font-size: 30px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: -20px;
    }
    /* Lange tekst */
    .InfoTekst {
        font-family: Cooper Hewitt;
        font-size: 35px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.37;
        letter-spacing: normal;
        color: #ffffff;
    }
    /* de kwizz */
    .Kop {
        font-family: Cooper Hewitt;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #ffffff;
    }
    /*--------------------------Welkom Grid---------------*/
    .grid-logo {
        grid-column: 1/4;
        grid-row: span 1;
    }

    .grid-titel {
        grid-column: 1/4;
        grid-row: 2;
    }

    .grid-sub {
        grid-column: 1/4;
        grid-row: 3;
        display: flex;
        align-items: flex-end;
    }

    .grid-kop {
        display: none
    }

    .grid-info {
        grid-column: 1/4;
        grid-row: 5;
    }

    .grid-naamform {
        grid-column: 1/4;
        grid-row: 6;
    }
    /*######  Result scherm elementen  ######*/
    /* -----------------Result Grid--------------- */

    /*######  Admin  scherm elementen  ######*/
    /* ---------------Admin Grid-------------- */

    /*######  Quiz scherm elementen  ######*/
    /*---------------Quiz Grid-------------------*/

    /*######  Ranglijst/Result scherm elementen  ######*/
    /* ------------------RANGLIJST Grid-------------- */

    /*######  NewPage scherm elementen  ######*/
    /* ------------------NewPage (mep op gong + score zien) Grid-------------- */

    /*######  Panel (inlog voor admin) scherm elementen  ######*/
    /* ------------------Panel (inlog voor admin) Grid-------------- */

}
    /*Tablet*/
@media screen and (min-width: 768px) {
    /*######  Welkom scherm elementen  ######*/
    /*--------------------------Welkom Grid---------------*/

    /*######  Result scherm elementen  ######*/
    /* -----------------Result Grid--------------- */

    /*######  Admin  scherm elementen  ######*/
    /* ---------------Admin Grid-------------- */

    /*######  Quiz scherm elementen  ######*/
    /*---------------Quiz Grid-------------------*/

    /*######  Ranglijst/Result scherm elementen  ######*/
    /* ------------------RANGLIJST Grid-------------- */

    /*######  NewPage scherm elementen  ######*/
    /* ------------------NewPage (mep op gong + score zien) Grid-------------- */

    /*######  Panel (inlog voor admin) scherm elementen  ######*/
    /* ------------------Panel (inlog voor admin) Grid-------------- */


}
    /*Small Desktop*/
@media screen and (min-width: 1024px) {
    /*######  Welkom scherm elementen  ######*/
    /*--------------------------Welkom Grid---------------*/

    /*######  Result scherm elementen  ######*/
    /* -----------------Result Grid--------------- */

    /*######  Admin  scherm elementen  ######*/
    /* ---------------Admin Grid-------------- */

    /*######  Quiz scherm elementen  ######*/
    /*---------------Quiz Grid-------------------*/

    /*######  Ranglijst/Result scherm elementen  ######*/
    /* ------------------RANGLIJST Grid-------------- */

    /*######  NewPage scherm elementen  ######*/
    /* ------------------NewPage (mep op gong + score zien) Grid-------------- */

    /*######  Panel (inlog voor admin) scherm elementen  ######*/
    /* ------------------Panel (inlog voor admin) Grid-------------- */

}
    /* Medium Desktop*/
@media screen and (min-width: 1440px) {
    /*######  Welkom scherm elementen  ######*/
    /*--------------------------Welkom Grid---------------*/

    /*######  Result scherm elementen  ######*/
    /* -----------------Result Grid--------------- */

    /*######  Admin  scherm elementen  ######*/
    /* ---------------Admin Grid-------------- */

    /*######  Quiz scherm elementen  ######*/
    /*---------------Quiz Grid-------------------*/

    /*######  Ranglijst/Result scherm elementen  ######*/
    /* ------------------RANGLIJST Grid-------------- */

    /*######  NewPage scherm elementen  ######*/
    /* ------------------NewPage (mep op gong + score zien) Grid-------------- */

    /*######  Panel (inlog voor admin) scherm elementen  ######*/
    /* ------------------Panel (inlog voor admin) Grid-------------- */

}
    /*Large Desktop*/
@media screen and (min-width: 1920px) {
    /*######  Welkom scherm elementen  ######*/
    p.Titel {
        font-size: 8em;
    }

    span.vraagWeg {
        display: inline;
    }

    div.questionCount {
        font-size: 900%;
    }
    /*--------------------------Welkom Grid---------------*/
    .grid {
        grid-template-columns: repeat(6,1fr);
        grid-gap: 1px;
    }

    .grid-logo {
        grid-column: 1/-1;
        grid-row: span 1;
    }

    .grid-logo-Admin {
        grid-column: 1/-1;
        grid-row: 1;
    }

    .grid-titel {
        grid-column: 2/3;
        grid-row: 2;
    }

    .grid-sub {
        grid-column: 3/5;
        grid-row: 2;
        display: flex;
        align-items: flex-end;
    }

    .grid-kop {
        padding-right: 2.275em;
        grid-column: 1/2;
        grid-row: 3;
    }

    .grid-info {
        grid-column: 2/5;
        grid-row: 3;
    }

    .grid-naamform {
        grid-column: 2/5;
        grid-row: 4;
    }
    /*######  Result scherm elementen  ######*/

    /* -----------------Result Grid--------------- */
    .grid-gongText {
        grid-column: 2/6;
        grid-row: 1;
    }

    .grid-klaarText {
        grid-column: 2/6;
        grid-row: 2;
    }

    .grid-resButton {
        grid-column: 2/5;
        grid-row: 3;
    }

    .grid-scoreRes {
        grid-column: 5/7;
        grid-row: 4;
    }

    .grid-resText {
        grid-column: 5/7;
        grid-row: 5;
    }
    /*######  Admin  scherm elementen  ######*/
    .adminEdit {
        position: absolute;
        left: 85%;
        display: inline-block;
        text-decoration: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .adminDelete {
        position: relative;
        left: 90%;
        display: inline-block;
        text-decoration: none;
        border: none;
        background-color: transparent;
        height: 10px;
        width: auto;
        cursor: pointer;
    }
    /* ---------------Admin Grid-------------- */
    .grid-username {
        grid-column: 2/3;
        grid-row: 3;
        /* if u change this, grid-password moves down 1 row as well */
    }

    .grid-loginText {
        grid-column: 2/5;
        grid-row: 2;
    }

    .grid-password {
        grid-column: 3/4;
        grid-row: 3;
    }

    .grid-login-button {
        grid-column: 4/5;
        grid-row: 3;
    }

    .grid-admin-add {
        grid-column: 1/-1;
        grid-row: 4;
    }

    .grid-admin-item {
        grid-column: 1/-1;
        grid-row: 3;
    }

    .grid-editQuestions {
        grid-column: 1/-1;
        grid-row: 2;
        /* font-size: 400%;
        font-weight: bolder;    */
    }

    /*######  Quiz scherm elementen  ######*/
    /*---------------Quiz Grid-------------------*/
    .grid-questionCount {
        grid-column: 2/6;
        grid-row: 1;
    }

    .grid-question {
        grid-column: 2/5;
        grid-row: 2;
    }

    .grid-hint {
        grid-column: 2/4;
        grid-row: 3;
    }

    .grid-answer {
        grid-column: 2/4;
        grid-row: 4;
    }

    .grid-leven {
        grid-column: 4/5;
        grid-row: 4
    }

    .grid-score {
        grid-column: 5/6;
        grid-row: 4
    }
    /*######  Ranglijst/Result scherm elementen  ######*/
    #scoreBoard {
        table-layout: auto;
        width: 100%
    }

        #scoreBoard td {
            color: white;
            font-size: 200%;
            font-family: Cooper Hewitt;
            padding-top: 2%;
            padding-right: 200px;
            text-align: left;
            border-bottom: 1px solid white;
        }

        .scoreboardName{
            color: white;
            /*font-size: 200%;
        font-weight: bolder;
        font-family: Cooper Hewitt;
        text-align: left;
        padding-right: 20%;*/
        }

        #scoreBoard tr.rowData {
            text-align: left;
            border-bottom: 1px solid white;
        }

    /* ------------------RANGLIJST Grid-------------- */
    .gridTable {
        grid-column: 2/3;
    }

    /*######  NewPage scherm elementen  ######*/
    /* ------------------NewPage (mep op gong + score zien) Grid-------------- */

    /*######  Panel (inlog voor admin) scherm elementen  ######*/
    /* ------------------Panel (inlog voor admin) Grid-------------- */

}
