/*grid andere poging*/
/*maak grid afstand tussen alle elementen*/
/*.grid > * {
    padding: .5rem;
    background-color: #b6ff00;
    color: white;
}*/
/*maak grid */
.grid {
    display: grid;
    /* <fixed-breadth>, <track-breadth> values */
    grid-auto-rows: minmax(125px,auto);
    /*grid-template-columns: repeat(3,1fr);*/
    grid-gap: .5rem;
}

/*Grid layout voor groter dan mobiel*/
@media screen and (min-width: 40em) {
    /*Welkom scherm elementen*/
    text.Titel {
        font-size: 8em;
    }
    div.questionCount{
        font-size:900%;
    }
    .grid {
        grid-template-columns: repeat(6,1fr);
        grid-gap: 2px;
    }
    .grid-logo {
        grid-column: 1/-1;
        grid-row: span 1;
    }
    .grid-titel{
        grid-column: 2/3;
        grid-row: span 1;
    }
    .grid-sub {
        grid-column: 3/5;
        grid-row: span 1;
        display: flex;
        align-items: flex-end;
    }
    .grid-kop {
        padding-top: 2.275em ;
        grid-column: 1/2;
        grid-row: 3;
    }
    .grid-info {
        grid-column: 2/4;
        grid-row: 3;
    }
    .grid-naamform{
        grid-column: 2/5;
        grid-row: 4;
    }
    /*Welkom scherm eind*/
    .grid-in-grid{
        grid-column:1/7;
        grid-row:2/5;
    }
    /*Vragen layout*/
    .grid-questionCount{
        grid-column: 2/6;
        grid-row: 1;
    }
    .grid-question{
        grid-column: 2/5;
        grid-row:2;
    }
    .grid-hint {
        grid-column: 2/4;
        grid-row: 3;
    }
    .grid-answer{
        grid-column: 2/4;
        grid-row:4;
    }
    .grid-leven{
        grid-column:4/5 ;
        grid-row:4
    }
    .grid-score {
        grid-column: 5/6;
        grid-row:4
    }
}





/*Logo attributes*/
.App-logo {
    padding-left: 4em;
    padding-top: 2em;
    padding-bottom: 10px;
}

/*The logo*/
/*.App-header {
    text-align: left;
}*/

/*Number of total questions*/
span.totalQuestions {
    font-weight: lighter;
    font-style: italic;
    font-size: 60%;
}

/*Number of current question*/
span.currentQuestion{
    font-style: italic;
}

/*Amount of lives*/
span.leven {
    color: white;
    font-size: 200%;
    float: right;
    padding-right: 5%;
}

    
/*The score*/
span.score {
    color: white;
    font-size: 200%;
    float: right;
    padding-right: 10%;
}


/*Error message placement*/
span.error {
    color: white;
    font-size: 200%;
    font-weight: bold;
    float: left;
}


.Cancel-logo {
    float: left;
    padding-top: 0.5%;
    padding-right: 1%;
}

/*Placement of the input field*/
/*div.answerOption {
    background-color: black;
    padding-left: 5%;
    font-family: CooperHewitt;
    padding-top: 15%;
}*/

/*Result page text*/
div.resultPage {
    color: white;
    font-size: 200%;
    font-family: Cooper Hewitt;
    padding-top: 10%;
    text-align: center;
}


/*Overall background*/
body {
    background-color: black;
}

/* -----------Welkom pagina--------------*/
.Titel {
    font-family: CooperHewitt;
    font-size: 4.375em;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: normal;
    color: #ffffff;
}

.sub {
    font-family: CooperHewitt;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
}
.InfoTekst {
    font-family: CooperHewitt;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.Kop {
    font-family: CooperHewitt;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}


/*Questions*/
text.hint {
    color: white;
    /*text-align: left;*/
    /*padding-left: 13%;*/  
    font-size: 2em;
    font-family: Cooper Hewitt;
}

/*Question counter*/
div.questionCount {
    text-align: left;
    padding-left: 0%;
    padding-top: 5%;
    color: white;
    font-size: 400%;
    font-weight: bolder;
    font-family: Cooper Hewitt;

}

/*Text placement inside input field*/
.goBut {
    /*width: 70%;*/
    padding: 12px;
    padding-left: 0px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid;
    font-size: 150%;
}
.goInput {
    /*width: 100%;*/
    padding: 12px;
    padding-left: 0px;
    background: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid;
    font-size: 150%;
    margin-bottom: 5%;
}
.goInputSmall {
    /*width: 100%;*/
    padding: 12px;
    padding-left: 0px;
    background: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid;
    font-size: 150%;
    margin-bottom: 5%;
}