/*Logo attributes*/
.App-logo {
    height: 100px;
    padding-left: 0.03%;
    padding-top: 0.09%;
    padding-bottom: 10px;
}

/*The logo*/
.App-header {
    text-align: left;
}

/*Placement of the input field*/
div.answerOption {
    background-color: black;
    padding-left: 10%;
    font-family: Cooper Hewitt;
    padding-top: 30%;
}


/*Overall background*/
body {
    background-color: black;
}

/*Questions*/
h2 {
    color: white;
    text-align: center;
    font-family: Cooper Hewitt;
}


/*Question counter*/
div.questionCount {
    text-align: left;
    padding-left: 0%;
    color: white;
    font-size: 700%;
    font-weight: bold;
    font-family: Cooper Hewitt;
}


/*Text placement inside input field*/
input {
    width: 50%;
    padding: 12px;
    background: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid;
}





